* {
    box-sizing: border-box;
    
}

:root{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    --size-menu: 1.5rem
}

body{
    padding-top: var(--size-menu);
    position: relative;
}
.navigation{
    min-height: var(--size-menu);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 250px;
    align-items: center;
    background-color: #262626;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}


.btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

.menu{
    display: flex;
}

.image{
    width: 100%;
    height:calc(100vh-var(--size-menu));
    object-fit: cover;
}

.about{
    position: relative;

}

.info{
    position: absolute;
    top: 30vh;
    right: 40vh;
    bottom: -30vh;
    color: white;
}

.box{
   
    text-decoration: double;
    text-transform: uppercase;
    color: rgb(18, 6, 6);
    padding: 0.5rem;

}

.conteiner1{
    position: absolute;
    width: 150px;
    height: 40px;
    top:-20vh;
    left: -15vh;
    transform: scale(1.5, 1);
    background-color: white;
}

.conteiner2{
    position: absolute;
    width: 150px;
    height: 40px;
    top: -10vh;
    left: -10vh;
    transform: scale(1.7, 1);
    background-color: yellow;
    box-shadow: 0px 2px 7px black
    
    
}
.container3{
    position: absolute;
    width: 100px;
    height: 40px;
    transform: skew(20deg, 170deg)scale(1.8, 1);
    background-color: rgb(218, 71, 122);
    box-shadow: 0px 2px 7px black
}